---
layout: default
---

<div class="projects">
  {%- if page.title -%}
    <h2 class="page-heading">{{ page.title }}</h2>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <ul class="post-list">
      {% assign sorted_projects = site.projects | sort: "date" | reverse %}
      {%- for post in sorted_projects -%}
      <li>
        {%- assign date_format = "%d/%m/%Y %H:%M" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        <a class="post-link" href="{{ post.url | relative_url }}">
          <img src="{{ post.thumbnail }}">
        </a>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
